:root{
    --border:1px solid rgb(228, 222, 222);
}
body{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    background-color: whitesmoke;
}
.mobile .mob{
    position: absolute;
    left: 30vw;
    top: 20vh;
    height: 430px;
    width: 300px;
}
.bg{
    position: absolute;
    left: 36.4vw;
    top: 29vh;
    height: 304px;
    width: 163px;
    animation: bgchange infinite;
    animation-duration: 15s;
    background-image: url('/assets/images/177140221987.jpg');
    background-size: 100% 100%;
}
@keyframes bgchange {

    25%
    {
        background-image: url('/assets/images/9144d6673849.jpg');
    }
    50%
    {
        background-image: url('/assets/images/b27a108592d8.jpg');
    }
    75%
    {
        background-image: url('/assets/images/ff2c097a681e.jpg');
    }
    100%
    {
        background-image: url('/assets/images/177140221987.jpg');
    }
      
}
.region{
    position: relative;
    left: 750px;
    top: 152px;
    height: 280px;
    width: 204px;
    border:var(--border);
    background-color: white;
}
.details .logo{
    height: 30px;
    width: 100px;
    margin-top: 20px;
    margin-left: 50px;
    
}
.details input{
    margin-left: 15px;
    height: 23px;
    margin-top: 3px;
    border: var(--border);
    border-radius: 5px;
}
.details button{
    margin-top: 7px;
    margin-left: 15px;
    width: 169px;
    height: 25px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 11px;
    background-color: rgb(4, 152, 250);
}
.details .fb{
    height: 15px;
    width: 15px;
    margin-left: 30px;
    margin-top: 5px;
}
.details .login{
    text-decoration: none;
    font-size: 12px;
    margin-left: 4px;
    color: rgb(44, 44, 134);
}
.separator-container {
    display: flex;
    align-items: center;
    margin: 25px 25px;
    width: 150px;
}
.separator-line {
    flex: 1;
    height: .1px;
    background-color: rgb(158, 158, 158);
}
.separator-text {
    margin: 0 10px;
    color: rgb(158, 158, 158);
    font-size: 12px;
}
.details .fogot{
    position: relative;
    text-decoration: none;
    font-size: 10px;
    height: 100px;
    width: 100px;
    margin-left: 45px;
    color: rgb(10, 72, 17);
}

.signup{
    display: flex;
    position: relative;
    top: 40px;
    height: 40px;
    width: 204px;
    border:var(--border);
    font-size: 9px;
    background-color: white;

}
.signup p{
    margin-left: 33px;
    margin-top: 15px;
    color: rgb(97, 93, 93);
}
.signup a{
    margin-left: 3px;
    margin-top: 15px;
    text-decoration: none;
    color: rgb(4, 152, 250);
}
.getapp{
    position: relative;
    top: 45px;
    left: 80px;
    height: 20px;
    width: 204px;
    font-size: 9px;
    color: rgb(97, 93, 93);
    user-select: none;
}
.store{
    position: relative;
    column-gap: 5px;
    display: flex;
    top: 50px;
    left: 16px;
    height: 20px;
    width: 204px;
}
footer{
    position: relative;
    top: 340px;
    left: 310px;
    display: grid;
    text-align-last: center;
    width: 54%;
    font-size: 9px;
    color: rgb(158, 158, 158);
    user-select: none;
}
.store img{
    height: 25px;
}